[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.4.27"
fastapi = "*"
alembic = "*"
sqlalchemy-utils = "*"
mako = "*"
uvicorn = "*"
databases = "*"
aiosqlite = "*"
pydantic = "*"
py-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.9"
